body {font:400 12px Arial;}

/*#globalnav {background:#222;border-bottom:1px solid #ccc;padding:5px 0;position:relative;text-align:right;font-size:14px;}
#globalnav a{display:inline-block;border-left:1px dotted #888;padding:2px 20px;}
#globalnav a:first-child{border:none;}*/

#sitecontainer {position:relative;margin:0 auto;padding:0;background:#fff;padding:0 20px 20px;border:1px solid #ddd;border-top:0;padding-top:20px;}

h1{font:400 24px arial;}
h2{font:400 18px arial;border-top:1px solid #888;border-bottom:2px solid #888;margin-bottom:10px;padding:5px 0;}
h3 {font:400 18px arial;}

#whatsnew .post {margin-bottom:15px;padding-bottom:15px;border-bottom:1px dotted #888;}
#whatsnew .post:last-child {border:0;}

/*#nav {background:#222;border-bottom:1px solid #fff;}
.nav-bar {height:auto;background:transparent;margin:0;border:0;}
.nav-bar > li {height:auto;line-height:1em;float:none;float:left;margin:0;padding:0;}
.nav-bar > li a.main {height:auto;padding:10px 10px;color:#fef;margin:0;}*/

#nav #current {background:#11639D;color:#def;}

#anchor {display:none;}

#categories>li{display:block;background:#222;color:#ddd;font-size:13px;padding:10px 2px 2px;font-size:16px;cursor:pointer;}
#categories ul {margin:0;display:none;}
#categories ul li{display:block;background:#eee;margin:0;border-bottom:1px solid #ccc;color:#333;padding:4px;}
#categories input {border:1px solid #333;background:#fff;margin-right:5px;width:20px;float:left;vertical-align:middle;}

#categories ul li:after { content:""; display:table;clear: both;zoom:1; }

#detailrating {width:100%;height:300px;}

#debug {background:#ddd;border:1px solid #f00;padding:5px;}

form label {margin-top:15px;}
form label:first-child {margin-top:0;}

#introSel {width:500px;position:relative;margin:30px auto;}

.definition {display:none;font-weight:400;font-size:13px;margin:10px;background:#fff;padding:10px;}
.toggle {font-weight:400;display:inline-block;font-size:11px;color:#369;margin-left:10px;cursor:pointer;}



/*admin form stuff*/
#addProject h2 {margin-top:30px;background:#eee;}
#addProject input[type="text"] {min-width:250px;}
#addProject input[type="checkbox"] {vertical-align:bottom;display:inline-block;margin-left:5px;}


#project textarea {width:500px;height:100px;}
#addProject .addArtifact,
#addProject .addPersona,
#addProject .addScenario {border:1px solid #ccc;padding:10px;margin:0 10px 10px 0;width:260px;display:inline-block;background:#eee;}

#addProject .addPersona {background:#def;}
#addProject .addScenario {background:#ffc;}

#addProject .addmore {background:#69c;display:inline-block;padding:5px 10px;border-radius:4px;color:#def;margin-bottom:10px;color:#fff;box-shadow: 0 8px 6px -6px #aaa;}